body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.hero {
    font-size: 28px;
}

.projects .card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    transition: 0.3s;
}

.projects .card:hover {
    transform: scale(1.05);
}

h2 {
    margin-bottom: 20px;
}
